<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/Logo.png">
    <title>Erreur</title>
    <style>
        body {
            background: #2b4a64;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        a {
            color: #ffd700;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>❌ <%= message %>
    </h1>
    <p><a href="/">Retour à l’accueil</a></p>
</body>

</html>